/**
* Base
**/
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


.u-strip {
	display: block !important;
	width: 100% !important;
}

.u-wrapper {
	display: block !important;
	width: 100% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	max-width: 800px;
}




/**
* Inputs
**/
.u-input[type="text"] {
	padding: 5px 8px;
	border: 1px solid #CECECE;
	border-radius: 2px;
	box-shadow: inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}




/**
* Grid
**/
.u-row { overflow: hidden; }

.u-col-1-of-3 {
	float: left;
	width: 30%;
	margin-left: 5%;
}
.u-col-1-of-3:first-child { margin-left: 0; }




/**
* Skins
**/
.skin-main {
	color: #333;
	background: #F5F5F5;
	border: 1px solid #CECECE;
}

.skin-alt {
	color: #333;
	background: #EEE;
	border: 1px solid #BBB;
}
